<div class="flex-container rm-padding-lr">
    <div class="row flex-header rm-margin-lr" >
        <div class="col-md-12 rm-padding-lr" >
            {{>header2}}
        </div>
    </div>
    <div class="row flex-content rm-margin-lr">
        <div class="col-md-6 col-md-offset-3 p-4" >
            <h2>All Orders</h2>
            {{#if totalorders}}
                {{#each totalorders}}
                     <div class="list-group rm-margin-lr">
                         <div class="list-group-item p-4 rm-border" style="margin-bottom:8px;">
                                <div class="">
                                    <table class="table table-responsive text-center">
                                        <p class="mk-flex flex-center flex-center-ai"> 
                                            <span style="display:inline-block; margin-right:10px;"><b>Order id: {{transanction_id}}</b></span>
                                            {{{cancel_orders process _id}}}
                                        </p>
                                        <thead>
                                            <tr>
                                                <th class="text-center p-4">Product</th>
                                                <th class="text-center p-4">Image</th>
                                                <th class="text-center p-4"> price</th>
                                                <th class="text-center p-4">quantity</th>
                                                <th class="text-center p-4">Amount</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each cart}}
                                                <tr>
                                                    <td>{{name}}</td>
                                                    <td><img src="{{image}}" style="width:50px;height:50px;" alt="no image"/></td>
                                                    <td>{{price}}</td>
                                                    <td>{{quantity}}</td>
                                                    <td> &#8358;{{totalprice}}</td>
                                                    
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                        <tfoot>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><b>Total</b></td>
                                            <td><b> &#8358;{{totalprice}}</b></td>
                                        </tfoot>
                                    </table>
                                </div>
                         </div>
                         
                      </div>
                {{/each}}
            {{else}}
            <div>you havent made any others</div>
            {{/if }}
        </div>
              
    </div>
    
    <div class="row flex-footer rm-margin-lr">
            {{>footer}}
    </div>
</div>

