<div class="flex-container rm-padding-lr">
    <div class="row flex-header rm-margin-lr">
        {{>header2}}    
    </div>
    <div class="row flex-content">
        <div class="col-md-8 col-md-offset-2">
        <h3><b>Checkout</b></h3>
        <table class="table ">
            <thead>
                <th style="text-align:center;">Name</th>
                <th style="text-align:center;">Image</th>
                <th style="text-align:center;">Quantity</th>
                <th style="text-align:center;">Price</th>
                <th style="text-align:center;">Add</th>
                <th style="text-align:center;">Subtract</th>
            </thead>
            <tbody>
               
           {{#each cartviewer}}
                    <tr>
                        <td style="text-align:center;">{{name}}</td>
                        <td style="text-align:center;"><img src="/images/{{_id}}/{{image}}"  style="width:50px;height:50px;"></td>
                        <td style="text-align:center;">{{quantity}}</td>
                        <td style="text-align:center;">{{add quantity price}}</td>
                         <td style="text-align:center;"><a href="/cart/product/checkout-page/add/{{_id}}" style="color:blue;">+</a></td>
                         <td style="text-align:center;"><a href="/cart/product/checkout-page/sub/{{_id}}" style="color:red;">-</a></td>
                         <td></td>
                         <td></td>
                    </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <td></td>
                <td style="text-align:center;"><b>TOTAL</b></td>
                <td style="text-align:center;"><b>{{totalquantity}}</b></td>
                <td style="text-align:center;"><b>{{totalprice}}</b></td>
                 <td style="text-align:center;">
                     {{#if cartcounter}}
                     <a class="btn btn-primary" href="/cart/product/checkout/purchase-product">Checkout</a>
                     {{else}}
                     <a class="btn btn-primary" disabled href="/cart/product/checkout/purchase-product">Checkout</a>
                     {{/if}}
                     </td>
                <td style="text-align:center;"><a class="btn btn-danger" href="/cart/product/checkout-page/clear-cart">Clear Cart</a></td>
            </tfoot>
        </table>
        </div>
    </div>
    <div class="row flex-footer rm-margin-lr">
        <div class="col-md-12">{{>footer}}</div>
    </div>
</div>