<div class="container-fluid home-height" style="padding:0px;overflow:auto;" >
    <div class="row" style="margin-left:0px;margin-right:0px;">
        {{>header2}}
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-md-8 col-md-offset-2">
            <h1>Your  Dashboard</h1>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2"style="margin-top:10px;">
            <div class="row">
                <div class="col-sm-4" style="padding-left:0;padding-right:0;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Account Settings</h3>
                        </div>
                        <div class="panel-body">
                            <p><a href="/user/edit-profile/{{user._id}}" style="color:black;">Edit Profile</a></p>
                            <p><a href="/user/change-password" style="color:black;">Change Password</a></p>
                            <p><a href="#" style="color:black;">Change Profile Picture</a></p>
                            <p><a href="#" style="color:black;"data-toggle="modal" data-target="#flipFlop">Delete Account</a></p>
                         </div>
                    </div>
                    <!--just testing modal-->
                        <!-- The modal -->
                    <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="modalLabel">Account</h4>
                                </div>
                                <div class="modal-body">
                                    <h3><b>Are you sure you want to delete your account?</b></h3>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger btn-lg" href="/user/delete-account/{{user._id}}">Yes</a>
                                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">No</button>
                                    

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end of testing modal-->

                </div>
                <div class="col-sm-8" >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Orders</b></h3>
                        </div>
                        <div class="panel-body">
                             {{#if order_finished}}
                                 <a href="#" style="color:black;" class="btn btn-default btn-sm"><b>Finished Orders ({{order_finished}})</b></a>
                            {{else}}
                                <a href="#" style="color:black;" class="btn btn-default btn-sm"><b>FinishedOrders (0)</b></a>
                            {{/if}}
                             {{#if order_cancelled}}
                                 <a href="#" style="color:black;" class="btn btn-default btn-sm"><b>Cancelled Orders ({{order_cancelled}})</b></a>
                            {{else}}
                                <a href="#" style="color:black;" class="btn btn-default btn-sm"><b>cancelled Orders (0)</b></a>
                            {{/if}}
                            {{#if order_inprogress}}
                                 <a href="#" style="color:black;" class="btn btn-default btn-sm"><b>Pending Orders ({{order_inprogress}})</b></a>
                            {{else}}
                                <a href="#" style="color:black;" class="btn btn-default btn-sm"><b>Pending Orders (0)</b></a>
                            {{/if}}
                            
                         </div>
                    </div>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><b>Investment Packages</b></h3>
                        </div>
                        <div class="panel-body">
                            <a href="#" style="color:black;"class="btn btn-default btn-sm"><b>&#x20a6;5000</b></a>
                            <a href="#" style="color:black;"class="btn btn-default btn-sm"><b>&#x20a6;10000</b></a>
                            <a href="#" style="color:black;"class="btn btn-default btn-sm"><b>&#x20a6;20000</b></a>
                            <a href="#" style="color:black;"class="btn btn-default btn-sm"><b>&#x20a6;50000</b></a>
                            <a href="#" style="color:black;"class="btn btn-default btn-sm"><b>&#x20a6;100000</b></a>
                            <a href="#" style="color:black;"class="btn btn-default btn-sm"><b>&#x20a6;500000</b></a>
                            <a href="#" style="color:black;"class="btn btn-default btn-sm"><b>&#x20a6;700000</b></a>
                         </div>
                    </div>
                    {{#if admin}}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Admin</h3>
                        </div>
                        <div class="panel-body">
                             <a href="/admin/make-user-admin" style="color:black;"class="btn btn-default btn-sm"><b>Make User Admin</b></a>
                            <a href="/admin/delete-user" style="color:black;"class="btn btn-default btn-sm"><b>Delete User</b></a>                    
                            <a href="/admin/product" style="color:black;"class="btn btn-default btn-sm"><b>Products</b></a>
                            <a href="/admin/category" style="color:black;"class="btn btn-default btn-sm"><b>Categories</b></a>
                            <a href="/user/orders/{{user._id}}" style="color:black;"class="btn btn-default btn-sm"><b>Orders</b></a>
                        </div>
                    </div>
                {{/if}}
                </div>
                
            </div>
        </div>
    </div>
    <div class="row bg-primary bottom" style="margin:0px; width:100%;">
        <div class="col-xs-12 col-md-12">
            {{>footer}}
        </div>
        
    </div>
</div>