<div class="flex-container rm-padding-lr">
    <div class="row flex-header rm-margin-lr">
        {{>header2}}
    </div>
    <div class="row flex-content">
         <div class="col-md-8 col-md-offset-2" >
                {{#if error}}
                     <div class="bg-danger text-center">{{error}}</div>
                {{/if}}
                <h1 class="text-center">Edit Product</h1>
                <form class="form-horizontal" method="post" action="/admin/edit-product/{{product.id}}">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Product Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" placeholder="Product Name" value={{product.name}}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="price" value="{{product.price}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">category</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="category">
                                <option>none</option>
                                {{#each categories}}
                                     {{#compare name ../product.category}}
                                        <option selected>{{name}}</option>
                                        {{else}}
                                        <option>{{name}}</option>
                                     {{/compare}}
                                {{/each}}
                               
                            </select>
                        </div>
                    </div>
                <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3"name="description"placeholder="describe your product">{{product.description}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">submit</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
    <div class="row rm-margin-lr" >
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 rm-padding-lr">
              <h1 class="text-center">Edit Product Image</h1>
              <img src="{{product.image}}" style="width:250px; height:250px; display:block;" id="image-tag" class="center-block"/>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-12 rm-padding-lr" style=" margin-bottom:20px;">
                <form action="/admin/update-product-image/{{product.id}}" method="POST" class="form block-center" enctype="multipart/form-data" >
                  <div class="form-group">
                      <label class="control-label">upload file</label>
                      <div class="form-input">
                          <input class="form-control" type="file" id="image-upload" name="image"/>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-input">
                          <button class="btn btn-default">Submit</button>
                      </div>
                  </div>
              </form>      
        </div>
                    
        
    </div>
    <div class="row flex-footer rm-margin-lr">
        {{>footer}}
    </div>

</div>

