 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <!--<a href="#menu-toggle" class="hidden-md hidden-lg" id="menu-toggle">Menu</a>-->
                    <p class=""style="color:white">Product</p>
                </li>
                {{#if category}}
                    {{#each category}}
                        <li>
                        <a href="/search/product?search={{name}}"">{{name}}</a>
                    </li>
                    {{/each}}
                {{/if}}
               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="flex-container rm-padding-lr" >
                <div class="row flex-header rm-margin-lr" >{{>header}} </div>
                <div class="row flex-content rm-margin-lr">
                    {{#if product}}
                        {{#each product}}
                            <div class="col-sm-4" >
                                <div class="thumbnail rm-padding-lr rm-padding-tb">
                                    <img src="{{image}}" alt="no image" class="" >
                                    <div class="caption">
                                        <h3>{{name}}</h3>
                                        <p><a href="/cart/product/{{_id}}" class="btn btn-primary" role="button">Buy</a><span class="pull-right">{{price}}</span></p>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                        {{else}}
                        <h3 class="text-center">no product available or found from database</h3>
                    {{/if}}
                </div>
                <div class="row flex-footer rm-margin-lr" style=" width:100%;">{{>footer}}</div>
                    
          
            </div>
         
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    

    <!-- Menu Toggle Script -->
    

