<div class="flex-container rm-padding-lr">
    <div class="row flex-header rm-margin-lr" >
        <div class="col-md-12 rm-padding-lr" >
            {{>header2}}
        </div>
    </div>
    <div class="row flex-content rm-margin-lr">
        <div class="col-md-8 col-md-offset-2" >
            <h2>Your Orders</h2>
            {{#if totalorders}}
                {{#each totalorders}}
                     <div class="list-group" style="margin-bottom:0px;">
                         <div class="list-group-item" style="margin-bottom:8px;">
                             <div class="col-xs-12">
                                    <div class="col-xs-10"><span style="margin-left:9px;"><b>Order id: {{transanction_id}}</b></span></div>
                                     <div class="col-xs-2 text-right">{{{cancel_orders process _id}}}</div>
                             </div>
                                
                                <div>
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Product</th>
                                                <th class="text-center">Image</th>
                                                <th class="text-center"> price</th>
                                                <th class="text-center">quantity</th>
                                                <th class="text-center">Total Price</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each cart}}
                                                <tr>
                                                    <td>{{name}}</td>
                                                    <td><img src="/images/{{id}}/{{image}}" style="width:50px;height:50px;" alt="no image"/></td>
                                                    <td>{{price}}</td>
                                                    <td>{{quantity}}</td>
                                                    <td>{{totalprice}}</td>
                                                    
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                        <tfoot>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><b>Total Price</b></td>
                                            <td><b>{{totalprice}}</b></td>
                                        </tfoot>
                                    </table>
                                </div>
                         </div>
                         
                      </div>
                {{/each}}
            {{else}}
            <div>you havent made any others</div>
            {{/if }}
        </div>
              
    </div>
    
    <div class="row flex-footer rm-margin-lr">
            {{>footer}}
    </div>
</div>

