<div class="container-fluid fullheight" style="padding-left: 0px; padding-right:0px; overflow:auto;">
    <div class="row header"style="margin:0;">
        <div class="col-md-12" style="padding:0;">
            {{>header2}}
        </div>
    </div>
    <div class="row content" style="margin:0;">
        <div class="col-md-8 col-md-offset-2 force-overflow" >
            <h2>Your Orders</h2>
            {{#if totalorders}}
                {{#each totalorders}}
                     <div class="list-group" style="margin-bottom:0px;">
                         <div class="list-group-item" style="margin-bottom:8px;">
                                <div><span style="margin-left:35px;" class="push-left"><b>Order id: {{transanction_id}}</b></span>{{{cancel_orders process}}}</div>
                                <div>
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Product</th>
                                                <th class="text-center">Image</th>
                                                <th class="text-center"> price</th>
                                                <th class="text-center">quantity</th>
                                                <th class="text-center">Total Price</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each cart}}
                                                <tr>
                                                    <td>{{name}}</td>
                                                    <td><img src="/images/{{id}}/{{image}}" style="width:50px;height:50px;" alt="no image"/></td>
                                                    <td>{{price}}</td>
                                                    <td>{{quantity}}</td>
                                                    <td>{{totalprice}}</td>
                                                    
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                        <tfoot>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><b>Total Price</b></td>
                                            <td><b>{{totalprice}}</b></td>
                                        </tfoot>
                                    </table>
                                </div>
                         </div>
                         
                      </div>
                {{/each}}
            {{else}}
            <div>you havent made any others</div>
            {{/if }}
        </div>
              
    </div>
    
    <div class="row bg-primary text-center footer"  style="width:100%; margin-left:0px;margin-right:0px;">
            {{>footer}}
    </div>
</div>

