<div class="container-fluid fullheight" style="padding-left: 0px; padding-right:0px;">
    <div class="row">
        <div class="col-md-12">
            {{>header}}
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <!--<div class="table-responsive">-->
                {{#if product}}
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                         <tr>
                             <th class="text-center">Name</th>
                             <th class="text-center">Category</th>
                             <th class="text-center">Image</th>
                             <th class="text-center">Description</th>
                             <th class="text-center">Price</th> 
                             <th class="text-center" colspan=2>Actions</th> 
                        </tr>
                    </thead>     
                     <tbody>
                        {{#each product}}
                            <tr>
                                <td class="text-center">{{this.name}}</td>
                                <td class="text-center">{{this.category}}</td>
                                <td class="text-center"><img src="images/{{this._id}}/{{this.image}}" style="width:50px;height:50px;" alt="no image"></td>
                                <td class="text-center">{{this.description}}</td>
                                <td class="text-center">{{this.price}}</td>
                                <td colspan="2">
                                    <a href="/delete-product/{{this._id}}" class="text-primary">delete</a>
                                    <a href="/edit-product/{{this._id}}"class="text-primary">edit</a>
                                </td>
                        
                             </tr>
                        {{/each}}
                     </tbody>
                </table>
         {{/if}}
    {{#unless product}}
     <p class="container-fluid bg-danger">No Product available</p>
    {{/unless}}

          <!--  </div>-->
            
        </div>
    </div>
    
    <div class="row bg-primary text-center">
            {{>footer}}
    </div>
</div>

